{% import "_macro/field.html.twig" as macro %}
<p class="mt-4">
    Postup aktualizácie dát v API (<a href="{{ url('app_api_agtests_slovakiaslovakiaagtests') }}" target="_blank">{{ path('app_api_agtests_slovakiaslovakiaagtests') }}</a>):
</p>
<ol class="mb-4">
    <li>
        Údaje za dnes nie sú dostupné v API. NCZI (Power BI) a IZA (GitHub) zvyknú mať dostupné čiastkové údaje za dnes každý deň doobeda, ale neaktualizujú sa v priebehu dňa.
    </li>
    <li>
        Údaje za včera sa berú z NCZI (API). Ak nie sú dostupné, tak údaje nie sú dostupné ani v API. Údaje bývajú v NCZI (API) dostupné každý deň okolo 10:00.
    </li>
    <li>
        Údaje za dni od predvčera a ďalej do minulosti sa berú z prvého dostupného zdroja v tomto poradí: NCZI (Power BI), IZA (GitHub), NCZI (API).
    </li>
</ol>
<hr>
<p>
    * Hodnota sa nenachádza v zdroji dát a je vypočítaná ako rozdiel medzi sumami za daný a predošlý deň.<br>
    ** Hodnota sa nenachádza v zdroji dát a je vypočítaná ako suma prírastkov v daný a všetky predošlé dni.
</p>

<table class="table table-striped table-hover table-sm mt-3">
    {% for row in stats %}
        {% if loop.first %}
            <thead>
            <tr>
                <th rowspan="2">
                    Deň
                </th>
                <th colspan="4" class="table-cell-left-column">
                    NCZI (Power BI)
                </th>
                <th colspan="4" class="table-cell-left-column">
                    IZA (GitHub)
                </th>
                <th colspan="4" class="table-cell-left-column">
                    NCZI (API)
                </th>
            </tr>
            <tr>
                <th class="table-cell-left-column">
                    Δ +
                </th>
                <th>
                    Δ -
                </th>
                <th>
                    Σ + **
                </th>
                <th>
                    Σ - **
                </th>
                <th class="table-cell-left-column">
                    Δ +
                </th>
                <th>
                    Δ -
                </th>
                <th>
                    Σ + **
                </th>
                <th>
                    Σ - **
                </th>
                <th class="table-cell-left-column">
                    Δ + *
                </th>
                <th>
                    Δ - *
                </th>
                <th>
                    Σ +
                </th>
                <th>
                    Σ -
                </th>
            </tr>
            </thead>
        {% endif %}
        <tr>
            <td>
                {{ row.key }}
            </td>
            <!-- POWER BI -->
            {{ macro.fieldCell(row, 'power_bi', 'positives_count', ['table-cell-left-column']) }}
            {{ macro.fieldCell(row, 'power_bi', 'negatives_count') }}
            {{ macro.fieldCell(row, 'power_bi', 'positives_sum') }}
            {{ macro.fieldCell(row, 'power_bi', 'negatives_sum') }}
            <!-- IZA -->
            {{ macro.fieldCell(row, 'iza', 'positives_count', ['table-cell-left-column']) }}
            {{ macro.fieldCell(row, 'iza', 'negatives_count') }}
            {{ macro.fieldCell(row, 'iza', 'positives_sum') }}
            {{ macro.fieldCell(row, 'iza', 'negatives_sum') }}
            <!-- NCZI API -->
            {{ macro.fieldCell(row, 'nczi', 'positives_count', ['table-cell-left-column'], '*') }}
            {{ macro.fieldCell(row, 'nczi', 'negatives_count', [], '*') }}
            {{ macro.fieldCell(row, 'nczi', 'positives_sum') }}
            {{ macro.fieldCell(row, 'nczi', 'negatives_sum') }}
        </tr>
    {% endfor %}
</table>
