{% import "Stats/_macro/field.html.twig" as macro %}

<p class="mt-4">
    Toto je len kontrolná agregácia. V API (<a href="{{ url('app_api_vaccinations_vaccinations') }}" target="_blank">{{ path('app_api_vaccinations_vaccinations') }}</a>)
    sú dostupné všetky dáta, z ktorých si túto agregáciu môžete vytvoriť.
</p>

<p class="mt-4">
    Postup aktualizácie dát v API (<a href="{{ url('app_api_vaccinations_vaccinations') }}" target="_blank">{{ path('app_api_vaccinations_vaccinations') }}</a>):
</p>

<ol class="mb-4">
    <li>
        Údaje za dnes nie sú dostupné v API. NCZI (Power BI) a IZA (GitHub) zvyknú mať dostupné čiastkové údaje za dnes každý deň doobeda, ale neaktualizujú sa v priebehu dňa.
    </li>
    <li>
        Údaje za včera sa berú z prvého dostupného zdroja v tomto poradí: NCZI (Power BI), IZA (GitHub) ale iba ak sú dostupné <a href="{{ path('app_front_stats_vaccinations', {'section': 'by-day'}) }}">údaje po dňoch</a> za včera.
    </li>
    <li>
        Údaje za dni od predvčera a ďalej do minulosti sa berú z prvého dostupného zdroja v tomto poradí: NCZI (Power BI), IZA (GitHub).
    </li>
</ol>

<table class="table table-striped table-hover table-sm mt-3">
    <thead>
    <tr>
        {% for headerCell in header %}
            <th>
                {{ headerCell }}
            </th>
        {% endfor %}
    </tr>
    </thead>
    {% for row in stats %}
        <tr>
            {% for key, headerCell in header %}
                <td>
                    {{ row[key] }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>